/* html, body, footer, header, nav, img, a, section {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
 */


html, body {
	margin: 0;
	padding: 0;
}

/* Seletor universal */
* {
	margin: 0;
	padding: 0;
}